# Debugging
debug_output: false # Prints lots of information (use when debugging!)
debug_solver: false # Prints lots of solver information (use when debugging only!)
debug_velocity: 0.0      # Adds to the velocity estimation for debugging
debug_colors: false
debug_print_plan: false

shift_plan_forward: false
solver_timeout: 30 # (ms), use 0 for disabled

# Simulation mode
simulation_mode: false
enable_external_weights: true
reference_velocity: 5.0

# Main Settings #
# Synchronize
sync_mode: true
clock_frequency: 10 # in Hz

# When true starts planning immediately
auto_enable_plan: true
synchronized_actuation: false # Should the controller only actuate after a full control cycle?

# Physical Parameters
enable_output: true   # Enables physical output (cannot be changed when running)
deceleration_at_infeasible: 3.0

# Recording
recording:   
      enable_recording: false
      number_of_experiments: 10 #15
      per_time: 
        enable: false            # Time is default enabled over experiment
        every_x_iterations: 200  # Save every this number of iterations
      per_experiment:
        enable: true
        every_x_experiments: -1  # Set to -1 to use the number of experiments
      experiment: 'prius' # Creates a folder with this name
      add_timestamp: false           # Add timestamps to the file name
      time_out: 40 

# Kinematic chain parameter
robot_base_link: base_link
target_frame: map # world fixed frame but will be changed according to robot_state_topic

path:
  enable_clothoid_interpolation: false
  halfspaces_from_spline: true

road:
  two_way: true
  width_right: 2.0 # to be updated from carla
  width_left: 2.0

# Parameters for collision constraints
obstacles:
      max_obstacles: 16 # Set to -1 to use carla/scenario/method/max_obstacles instead
      radius: 1.0 #0.3 #2.8 #1.0 #1.2 #0.75
      visualize_ellipsoids: true

robot:
      length: 5.0 #4.5135 #4.540 carla dimensions: 4.5135, 2.0
      width: 2.25 #2.0 #2.250
      com_to_back: 2.5 #2.2568 #1.7568 #2.4 # Distance from Center-of-mass to back of the vehicle
      
debug:
  boolean1: false # is binomial
  double1: 1.0

guidance:
  enable: false
  use_as_reference: false  

scenarios:
      debug_output: false
      use_trajectory_sampling: false # Trajectory or marginal
      multithread: false
      scale_reference_velocity: false
      manual_noise: 0.3
      trajectory:
        n_bar: 8 # 6 # cVaR threshold for maximum support selection
        terminate_equality_tolerance: 0.001
        use_real_samples: true       # Use a database instead of model
        enable_projection: true       # Project to a feasible trajectory (High support!)
        enable_scenario_removal: true # Remove scenarios online
        use_1D_projection: true # To be removed later
        sqp_iterations: 8
        save_all_support: true
        enable_termination: false
      safe_sampling:
        compute_automatically: true
        risk: 0.2 #0.05 # Used if automatic
        confidence: 0.01 # =1e-6
        removal_count: 0 # 2 # 3sigma: 50  # 1 sigma 200
        sample_size: 1000 #100 # Used if not automatic # 3sigma: 53050  # 1 sigma 820
      marginal:
        seed: 125 #-1 is random!
        propagate_covariance: true  # If true propagates the received Gaussian covariance over the horizon
        checked_constraints: 250 #250 # (in paper l) Should be scaled with scenarios
        database:
                size: 100
                truncated: false
                truncated_radius: 3.5 # in terms of sigma (only used if truncated gaussian)
                build_database: true # Set to true to force building new samples
        received_object_sigma: 1.0
      static_obstacles:
        enable: true
        n_halfspaces: 2
      polygon:
        range: 10.0 # maximum range of the regions
        activation_range: 400.0   # How far away pedestrians are sampled
      visualisation:
          scale: 3.0
          discs_to_draw: [0, 0, 1]
          nr_stages_to_draw: 5 # Draw this number of stages along the horizon
          initial_guess: false
          all_scenarios: false
          support_scenarios: false 
          polygon_scenarios: true
          removed_scenarios: false
          ellipsoids: true
          constraints: true
