<?xml version="1.0"?>

<launch>
    <!-- Debug Info -->
    <arg name="debug" default="false" />
    <arg unless="$(arg debug)" name="launch_prefix" value="" />
    <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />
    <arg name="debug_config_parameter" default="false"/>
    <arg name="debug_kinematic_cal" default="false"/>
    <arg name="debug_collision_detection" default="false"/>
    <arg name="gui" default="false" />

    <!-- The reference path map file -->
    <arg name="use_roadmap" default="false"/>

    <!-- The pedestrian scenario file -->
    <arg name="pedestrian_scenario" default="corridor_opposite" />
    <arg name="overwrite_pedestrian_scenario" default="false" />

    <arg name="project_name" default="" />
    <arg name="rviz_config" default="jackal_homotopy" />

    <!-- Robot Simulation -->
    <include file="$(find jackal_gazebo)/launch/jackal_world.launch">
        <arg name="gui" value="$(arg gui)" />
    </include>
    <include file="$(find mobile_robot_state_publisher)/launch/mobile_robot_publisher.launch"/>


    <!-- Fake optitrack simulated pedestrians -->
    <!-- Ex. roslaunch lmpcc jackalsimulator.launch overwrite_pedestrian_scenario:=true pedestrian_scenario:="headon/1_middle.xml" -->
    <include file="$(find pedestrian_simulator)/launch/simulation.launch">
        <arg name="pedestrian_scenario" value="$(arg pedestrian_scenario)"/>
        <arg name="overwrite_pedestrian_scenario" value="$(arg overwrite_pedestrian_scenario)"/>
    </include>
    <include file="$(find obstacle_estimator)/launch/obstacle_prediction_multiple.launch"/>
    


    <!-- Controller --> 
    <rosparam command="load" file="$(find lmpcc)/config/jackal/jackal_parameters.yaml"/>
    <rosparam command="load" file="$(find lmpcc)/config/jackal/jackal_topics.yaml"/>
    <rosparam command="load" file="$(find lmpcc)/config/jackal/experiment_path.yaml"/>
    <rosparam command="load" file="$(find lmpcc)/config/jackal/jackal_guidance_planner.yaml"/>
    
    <!-- autotuning -->
    <!-- <rosparam command="load" file="$(find lmpcc)/config/jackal/jackalsimulator_autotune_parameters.yaml"/> -->

    <!-- Overwritten parameters for an experiment -->
    <rosparam command="load" file="$(find lmpcc)/config/jackal/experiment_parameters.yaml"/>

    <!-- Naming of output data for LMPCC -->
    <param name="recording/experiment" value="$(arg pedestrian_scenario)" if="$(arg overwrite_pedestrian_scenario)"/>
    <param name="recording/project_name" value="$(arg project_name)"/>

    <!-- <node pkg="lmpcc" type="lmpcc_node" name="lmpcc_node" cwd="node" respawn="false" output="screen" required="true"/> -->
    <node pkg="lmpcc" type="collision_checker_node" name="collision_checker_node" respawn="false" output="screen" required="true"/>

    <!-- Publish Random Goals -->
    <!-- <node pkg="lmpcc_tools" type="goal_publishing_node.py" name="goal_publishing_node" respawn="false" output="screen" required="true" args="--> 
    <!-- n_goals 10 -->
    <!-- publish" unless="$(arg use_roadmap)"/>  -->
    <node pkg="lmpcc_tools" type="goal_publishing_node.py" name="goal_publishing_node" respawn="false" output="screen" required="true" args="--n_goals 10 --publish" unless="$(arg use_roadmap)"/>
   
    <!-- Publish a standard reference path -->
    <include file="$(find roadmap)/launch/roadmap.launch" if="$(arg use_roadmap)">
        <arg name="config_file" value="$(find lmpcc)/config/jackal/jackal_roadmap.yaml"/>
    </include>

    <!-- configured RVIZ and RQT Reconfigure -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find lmpcc)/rviz_config/jackal/$(arg rviz_config).rviz" output="log"/>

    <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" cwd="node" respawn="false" output="screen"/>

    <!-- Navigation and Global Planner -->
    <!--include file="$(find jackal_navigation)/launch/amcl_demo.launch">
    </include-->

    <!--node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 map odom 100" / -->
        
<!-- 
    <node name="costmap_jackal" pkg="costmap_2d" type="costmap_2d_node" output="screen" clear_params="true">
        <rosparam file="$(find lmpcc)/config/costmap_params.yaml" command="load" ns="costmap" />
        <param name='costmap/global_frame' value='map' />
        <param name='costmap/robot_base_frame' value='base_link' />
    </node> -->
	
</launch>  
